*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans TC';
	line-height: 1.44;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.conatiner {
	margin: 0 auto;
	padding: 87px 32px;
}

@media (max-width: 576px) {
	.conatiner {
		padding: 18px 32px;
	}
}
